.App {
 
  background-image: url('./cardcredit.png');
  width: 38%;
  height: 355px;
  border-radius: 40px;
 
}
.Title{
  color: white;
  padding-top: 12px;
  padding-left: 50%;
  font-size: 17px;
}
.rip{
  color: rgb(216, 216, 87);
  font-size: 20px;
  padding-left: 10%;

}
.puce{
  width: 10%;
  height: 54px;
  padding-left: 20%;
}
.flex{
  display: flex;
  justify-content: space-around;
  color: white;
}
.master{
  width: 12%;
height: 100px;
}
.p2{
  display: flex;
}
.p12 h2{
  margin-top: -22px;
  margin-left: 13%;

}
.p12 p{
  font-size: 11px;
  margin-left: 12%;
  margin-bottom: 15px;
}
.p11{
  display: flex;
  font-size: 11px;
}

.flesh{
  margin-top: 27px;
}
.parag{

  margin-top: 20px;
}
